<!DOCTYPE html>
<html> 
	<head>
		<title>PD's Tester App | About</title> 
	</head>
	<body> 
		<h1>PD's Tester App</h1> 
		<p>Paul David was born in LA.  He writes a blog called <a href="http://www.overwhelminggood.com/">Overwhelming Good</a>.  He's currently living in Chicago, working for Northwestern University.
		</p>
	</body>
</html>