<!DOCTYPE html>
<html> 
	<head>
		<title>PD's Tester App | Contact</title> 
	</head>
	<body> 
		<h1>PD's Tester App</h1> 
		<p>Paul David can be found online on Facebook, Twitter as Purposeful1, or by email.  He doesn't feel comfortable listing his email here, yet, because he doesn't know how to do it without opening himself up to internet email crawler spam.
		</p>
	</body>
</html>